
  
  #student-personal-info {
    width: 390px;
    height: 400px;
    background-color: #d6e2f3;
    border-radius: 5%;
    padding: 30px 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    padding-top: 15px;
  }
  
  #student-personal-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;

    color: #24305E;
  }
  
  .strong-student-personal-info {
    width: 500px;
    margin-left: 13%;
  }
  
  .student-info {
    margin-top: 10px;
  }
  
  .student-info p {
    margin: 5px 0;
  }
  
  .label-student {
    margin-bottom: 5px;
  }
  
 .strong-student {
    width: 150px;
    display: inline-block;
    margin-bottom: 2%;

  }