
  
  .student-personal-info {
    border: 2px solid skyblue;
    background-color: beige;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    width: 33%;
    border-radius: 10%;
    margin-left: 37%;
    margin-top: 0;
  }
  
  .student-personal-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .strong-student-personal-info {
    width: 280px;
  }
  
  .student-info {
    margin-top: 10px;
  }
  
  .student-info p {
    margin: 5px 0;
  }
  
  .label-student {
    margin-bottom: 5px;
  }
  
 .strong-student {
    width: 150px; /* Adjust the width based on your design */
    display: inline-block;
  }