#timetableviewer{   
  padding: -1%;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

#h1viewer{
  color:#24305E;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2%;
  padding: -1%;
  max-width: 80%;
  margin-left: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 200%;
  font: bold;
  text-decoration: underline;
}

#tableview{    
  margin-left: 20%;
  width:60%;
  height: 30%;
  table-layout: fixed;
  border: none;
  outline: none;
  /* border: 1px solid black; */
  text-align: center;   
  background-color: #e1e4e8;
}

#thtable{
width: 50%;
height: 40px;
background:#24305E;;
color: white;
}

#rowview{
font-family: sans-serif;
width: 50%;
height: 20px;
font-weight: 400;
background-color: #e1e4e8;
}

#formtabledata {
margin-bottom: 1%;
margin-top: -1%;
}

#inputformstd {
width: 15%;
margin-left: 20%;
margin-bottom: 1%;
padding: 8px;
box-sizing: border-box;
margin-top: 1%;
border: none;
outline: none;
border: 2px solid rgba(0,0,0);
border-radius: 5%;
}