  .Admin-personal-info {
    border: 2px solid skyblue;
    background-color: hsl(107, 17%, 78%);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    width: 370px;
    border-radius: 10%;
    margin-left: 30%;
    margin-top: 8%;
  }
  
  .Admin-personal-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .strong-Admin-personal-info {
    width: 500px;
    margin-left: 13%;
  }
  
  .Admin-info {
    margin-top: 10px;
  }
  
  .Admin-info p {
    margin: 5px 0;
  }
  
  .strong-Admin {
    width: 150px; 
    display: inline-block;
    margin-bottom: 2%;
  }