  .Admin-personal-info {
    width: 400px;
    background-color: hsl(107, 17%, 78%);
    border-radius: 5%;
    padding: 30px 30px;
    height: auto;
    background: transparent;
    border: 2px solid skyblue;
    background-color:  hsl(107, 17%, 78%);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 86px;
    padding-top: 15px;
  }
  
  .Admin-personal-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .strong-Admin-personal-info {
    width: 500px;
    margin-left: 13%;
  }
  
  .Admin-info {
    margin-top: 10px;
  }
  
  .Admin-info p {
    margin: 5px 0;
  }
  
  .strong-Admin {
    width: 150px; 
    display: inline-block;
    margin-bottom: 2%;
  }