
#close-btn-fees {
    position: absolute;
    top: 0px;
    right: 10px;
    width:30px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
}
#close-btn-fees:hover {
    color: white;
    background-color: red; /* Change color on hover if desired */
}

.fees-admin{
    align-items: center;
    margin-left: 14%;
    margin-top: 41px;
    line-height: 31px;
    border: 1px solid black;
    margin-right: 55px;
    border-radius: 13px;
    padding: 20px;
}

.details-fees{
    line-height: 30px;
    align-items: center;
}

.submit-pay-admin{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 42px;
    padding-left: 20px;
}


.submit-view-admin{

    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: -24px;
    padding-left: 20px;
    margin-left: 24%;
}

.form-admin-fess{
   
    width: 400px;
    line-height: 20px;
    color: black;
    border-radius: 10px;
    padding: 25px 41px;
    height: 203px;
    background: transparent;
    border: 2px solid;
    background-color: #e1e4e8;
    margin-left: 350px;
    margin-right: auto;
    margin-top: 13%;
    padding-top: 15px;
}

.select-fees-admin{
    margin-left: 20px;
    box-sizing: border-box;
    background: transparent;
    margin-bottom: 20px;
    font-size: 18px;

}

.input-fees-admin{
    margin-left: 20px;
    box-sizing: border-box;
    background: transparent;
    font-size: 18px;
}

.h2-fees-admin{
    margin-top: 12px;
    margin-bottom: 24px;
}

.lable-fees-form{
    font-size: 18px;

}

.print-admin-fees{

    width: 113px;
    line-height: 20px;
    color: black;
    border-radius: 10px;
    padding: 25px 41px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    background-color: #e1e4e8;
    margin-left: 37%;
    margin-top: 9%;
    padding-top: 15px;

}