#mainsearchstudent{
    margin-top:40px;
    margin-left:auto;
    margin-right: auto;
    width: 95%;
    height: 60%;
}
#searchstudentbutton{
  width: 400px;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 35px;
  padding-left: 20px;
}
#searchstudenttable{
    background-color: #f7f9fb;
}
#searchstudent{ 
    width:320px;
    margin-left : auto;
    margin-right: auto;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;  
}
#butnnameview {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#butnnameview:hover {
    background-color: lightgray;
}
#iconsearchstudent{
  margin-left:-30px;
  margin-bottom: -2px;
}
#studentdetailpopup{
    color:black;
    width:290px;
    height: 400px;
    background-color: lightgray;
}
#studentdetailpopup1{
    color:black;
    width:290px;
    height: 400px;
    background-color: lightgray;
    margin-left: -430px;
}
#popup-student{
    color:black;
    width:290px;
    margin-top: -300px;
    background-color: aqua;
}
#psearchstudent{
    color: black;
    margin-left: 75px ;
}
#trsearchstudent{
    background-color: #24305E;
    color: white;
    font-size: 18px;
    height: 35px;
}
#tr1searchstudent{
    text-align: center;
}
#datasearchstudent{
    height:30px
}
#btnviewsearchstudent {
    color: black;   
    border: none;
    width:50px;
}
#actionth{
  width: 230px;
}
#btnaddstudent{
  width:5%;
  color: #fff;
  background-color: rgb(68, 161, 68); 
  margin-left: 20px;
  border-radius: 5px;
  margin-top: -20px;
  height: 31px;
  font-size: 20px;
}
#btnaddmarkssearchstudent{
    color: #fff;
    background-color: #bb196a;
    border-color: #bb196a;
    width:50px ;
    margin-left: 5px;
  }
#btnviewsearchstudent:hover {
    color: black;    
    border: none;
    width:50px
}
#btneditsearchstudent {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width:50px;
    margin-right: auto;
    margin-left: auto;
    margin-left: -230px;
}
#btndeletesearchstudent {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width:50px ;
    margin-left: 5px;
}
#btnaddfamilysearchstudent {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  width:50px ;
  margin-left: 5px;
}
#close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    width:30px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
}
#close-btn:hover {
    color: white;
    background-color: red; /* Change color on hover if desired */
}
#headingpopup{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
}
#edit-popup {
    padding: 20px;
}
#edit-popuppart1{
    margin-left:50px ;
}
#edit-popuplabel {
    display: block;
    margin-bottom: -5px;
}
#edit-popuppart2{
    margin-left: 400px;
    margin-top: -443px;
}
#edit-popup1  {
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 35px; 
} 
#edit-popup2  {
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 35px; 
}
#edit-popupbtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 330px;
    margin-top: 30px;
}
#edit-popupbtn:hover {
    background-color: #0056b3;
}
.swal2-popup{
    box-shadow: 0 3px 20px -10px #4a4a4a;
    background:white;
    height: 215px;
    width: fit-content;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0 3px 20px -10px #4a4a4a;
    background: white;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    padding: 0 0 1.25em;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .swal2-icon {
    height: 50px;
    width:50px;
    margin-top: 20px;
    position: relative;
    justify-content: center;
    margin: 8px auto -9px;
    border: 2px solid white;
    border-color: white;
  }
  
  .swal2-title{
    font-size: 17px;
    height: 1px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    padding: 1px;
  }
  
  .swal2-cancel, .swal2-confirm{
    width: 135px;
    margin-top: -70px;
    margin-bottom: -55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .swal2-success{
    border-color: #a5dc86;
    color: #a5dc86;
    height:70px;
    width: 70px;
    margin-top: 10px;
  }