#containerstudentform{
  width: 750px;
  color:black;
  border-radius: 10px;
  padding: 30px 30px;
  height:750px;
  background: transparent;
  border: 2px solid;
  background-color: hsl(107, 17%, 78%);
  margin-left: auto;
  padding-top: auto;
  padding-bottom: 30px;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 200px;
}
#form-groupstudentform {
  margin-bottom: 10px;
  margin-top: 5px;
}   
#form-groupstudentform-2{
  margin-left: 400px;
  margin-top: -564px;
}

#containerstudentform h2{
  justify-content: center;
  padding-top: 1px;
  color:#146a51;
  text-align: center;
  font: bold;
  margin-top: -10px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#StandardSelectionstudentform{
  height: 25px;
  margin-left: 25px;
  width: fit-content;
}
#labelstudentform {
  display: block;
  margin-bottom: 5px;
  margin-top: 8px;
  margin-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

#phone_numberstudentform {
  width: 400px;
  margin-left: 18px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px;
  border-radius: 8px;
}

#inputstudentform {
  width: 300px;
  margin-left: 25px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px;
  border-radius: 5px;
}

#inputr::placeholder { 
  color:gray;
  position:absolute;
}

#iconr {
  position:relative;
  right: 25px;
  top: 50%;
  transform: translateY(15%);
}
#inputtextarea{
width: 300px;
margin-left: 25px;
padding: 8px;
box-sizing: border-box;
margin-top: 5px;
border: 1px;
height: 35px;
border-radius: 5px;
}
#btnnextstudentform{
  width: 30%;
  height: 40px;
  border-radius: 10px;
  outline: auto;
  border: 1px;
  background:#146a51;;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
  margin-top: 65px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
#studentformh2studentform{
  justify-content: center;
  padding-top: 1px;
  color:#146a51;;
  text-align: center;
  font: bold;
  margin-top:-5px;
  margin-bottom:40px ;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #radio-groupa  {
    display: inline-flex;
    align-items: center;
    margin-left: 50px;
  }
  #radio-groupa label {
    margin-top: 5px;
    margin-right: 50px;
  }
  #radio-groupa input {
    width: 10%;
    padding: 0;
    margin-left: -22px;
  }
