.studentmarkscontainer {
  margin: 60px;
}

#heading1 {
  color: #333;
}
.error-messagee {
  color: red;
}
#t1
 {
  width: 100%;
  border-collapse: collapse;
}

#t1 #th1,
#t1 #td1 {
  border: 1px solid #ccc;
  padding: 8px;
}

#t1 #th1 {
  background-color: #f0f0f0;
}

#t1 #tbody #tr1:nth-child(even) {
  background-color: #f9f9f9;
}

#t1 #tbody #tr1:hover {
  background-color: #e0e0e0;
}

#i1 {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}
