.studentmarkscontainer {
  margin: 60px;
}

#headingg1 {
  color: #333;
}
.error-messagee {
  color: red;
}
#submitmarkss{
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  outline: auto;
  border: 1px;
  background:#24305E;
  justify-content: center;
  text-align: center;
  margin-left: 1%;
  margin-top: 18px;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
#btn-deletee{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  width: 50px;
  border-radius: 3px;
}
#btn-editt{
  color:white;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 3px;
  width: 50px;
}
#tt1
 {
  width: 100%;
  border-collapse: collapse;
}

#tt1 #thh1,
#tt1 #tdd1 {
  border: 1px solid #ccc;
  padding: 8px;
}
#thhh1{
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  width: 8%;
}

#tt1 #thh1 {
  
  background-color: #f0f0f0;
}

#tt1 #tbodyy #trr1:nth-child(even) {
  background-color: #f9f9f9;
}

#tt1 #tbodyy #trr1:hover {
  background-color: #e0e0e0;
}

#ii1 {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}
.custom-toast {
  margin-top: 60px; /* Set the margin-top to 100px */
}