#student-exam-timetable{   
  padding: -1%;
  width: 1300px;
  margin-left: 4%;
  margin-top: 5%;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

#studentexamtimetableh2{
  color:#24305E;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2;
  padding: -1%;
  max-width: 80%;
  margin-left: 8%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 200%;
  font: bold;
  text-decoration: underline;
}

#student-table{    
  margin-left: 13%;
  margin-top: 2%;
  width:70%;
  height: 30%;
  table-layout: fixed;
  border: none;
  outline: none;
  border: 1px solid black;
  text-align: center;   
  background-color: #e1e4e8;
}

/* Standard dropdown */
#student-examtable {
  margin-bottom: 1%;
  margin-top: -1%;
}

#student-exam-th{
  width: 50%;
  height: 50px;
  background:#24305E;
  color: white;
}

#student-exam-row{
  font-family: sans-serif;
  width: 50%;
  height: 17.5%;
    font-weight: 400;
  background-color: #e1e4e8;
}

#student-exam-sub {
font-family: sans-serif;
width: 98%;
height: 50px;
font-weight: 400;
border: none;
outline: none;
text-align: center;
border: 1px solid black;
background-color:#e1e4e8 ;
}

#exam-sub {
font-family: sans-serif;
width: 70%;
height: 30px;
font-weight: 400;
margin-top: 7.5%;
margin-left: 170px;
margin-bottom: 3px;
border: none;
outline: none;
border-radius: 5px;
text-align: center;
border: 2px solid black;
background-color: white;
}


#deleteexamschedulebtn {
color: #fff;
background-color: #dc3545;
border-color: #dc3545;
border-radius: 3px;
width:50px ;
margin-left: 5px;
cursor: pointer;
}

#editexamschedulebtn{
color:white;
background-color: #007bff;
border-color: #007bff;
border-radius: 3px;
width: 50px;
cursor: pointer;
}

#student-exam-btn{
  width: 17%;
  height: 40px;
  border-radius: 10px;
  outline: auto;
  border: 1px;
  background:#24305E;
  justify-content: center;
  text-align: center;
  margin-left: 39.5%;
  margin-top: 1%;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
#exameditmain{
  height: fit-content;
  width:fit-content;
  background: aqua;
}
#popup-header-exam {
display: flex;
justify-content: space-between;
align-items: center;
/* margin-left: 25%; */
margin-bottom: 15px;
}

#popup-title-exam {
margin-top: 15px;
margin-left: 24%;
color: darkblue;
font-size: 24px;
font-weight: bold;
}

#popup-container-exam-schedule {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: lightgrey;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 1000;
max-width: 400px;
width: 100%;
box-sizing: border-box;
}

#close-btn-exam {
background: transparent;
width:25px;
margin-top: -15px;
margin-right: 10px;
border: none;
cursor: pointer;
font-size: 20px;
color: black;
}
#close-btn-exam:hover{
  background-color: #dc3545;
  color: #ffffff;
}
#label-popup-exam{
  display: block;
  margin-bottom: 10px; 
  margin-top: 10px; 
  margin-left:24%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  width:80px;
}
#popup-exam-sub{
/* font-family: sans-serif; */
width: 220px;
height: 28px;
/* font-weight: 400; */
margin-top: 5px;
/* margin-left:80px; */
margin-bottom: 5px;
border: none;
outline: none;
border-radius: 5px;
text-align: center;
border: 2px solid black;
background-color: white;
}

#update-exam-btn {
  padding: 8px 16px;
  margin-left: 40%;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
  }