#standard{
    padding: 4%;
    width: 1300px;
}

#stdheader{
    color:#24305E;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5%;
    padding: 1px;
    max-width: 80%;
    margin-left: 8.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font: bold;
    text-decoration: underline;
}

#tables {    
    margin-left: 35%;
    width:28%;
    height: 300px;
    table-layout: fixed;
    border: 1px solid black;
    text-align: center;
    background-color: #e1e4e8;
}

#tbl-content{    
    height:60%;
    overflow-x:auto;
} 

#stdth {    
    padding: 3%;
    text-align: center;
    vertical-align:middle;    
    font-size: 130%;
    color: white;
    background-color: #24305E;    
}

#stdtd{        
    text-align: center;
    border: 1px solid black;
    font-size: 130%;   
}


