.studentprojectreport {
    /* margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    background-color: #d6e2f3;
    border-radius: 10px;
    border: 2px solid black; 
    height: 45%;
    text-align: center; */
    width: 500px;
    border-radius: 5%;
    padding: 30px 30px;
    height: auto;
    background: transparent;
    background-color: #e1e4e8;;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
    padding-top: 15px; 
    border: 2px solid black; 
 
}
  
  .projectreport {
    margin-top: 3%;
    margin-left: 15%;
  }
  
  .header-student-report {
    margin-top: 7%;
    margin-bottom: 7%;  
    text-align: center;
  }
  
  .studentreportsbutton{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    outline: auto;
    border: 1px;
    background:#24305E;
    /* justify-content: center; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    color: white; 
    margin-left: 28%;
    margin-top: 9%;
    /* align-items: center;  */

  }

  .starstudentreports{
    height: 2%;
  }
  
  #th_field{
    width: 400px;
    color: white;
    height: 40px;
    background-color:#24305E;
  }
  #starting_body{
    background-color:  #d1d3d6;
  }
  #tab_main{
    width: 500px;
    margin-left: -75px;
  }
 #td_tag{
  text-align: center;
  font-size: 22px;
 }
 #th_tag{
  text-align: center;
 }