.studentprojectreport {
    width: 500px;
    border-radius: 3%;
    padding: 30px 30px;
    height: auto;
    background: transparent;
    background-color: #e1e4e8;;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    padding-top: 0px; 
    border: 2px solid black; 
 
}
  
  .projectreport {
     margin-left: 15%;
  }
  
  .header-student-report {
    margin-top: 4%;
    margin-bottom: 5%;  
    text-align: center;
  }
  
  .studentreportsbutton{
    width: 32%;
    height: 40px;
    border-radius: 10px;
    outline: auto;
    border: 1px;
    background:#24305E;
    /* justify-content: center; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 18px;
    color: white; 
    margin-left: 35%;
    margin-top: 5%;
    /* align-items: center;  */

  }

  .starstudentreports{
    height: 2%;
  }
  
  #th_field{
    width: 400px;
    color: white;
    height: 40px;
    background-color:#24305E;
  }
  #starting_body{
    background-color:  #d1d3d6;
  }
  #tab_main{
    width: 500px;
    margin-left: -75px;
  }
 #td_tag{
  text-align: center;
  font-size: 22px;
 }
 #th_tag{
  text-align: center;
 }

 .d-k-button{
  margin-left: 90%;
  width: 5%;
  height: 5%;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}


.dark-theme {
  background-color: #626264;
  color: blue;
}


.toggleSwitch input[type="checkbox"] {
  display: none;
}

.toggleSwitch .slider {
  position: relative;
  /* display: inline-block; */
  top: 0;
left: 0;
right: 0;
bottom: 0;
  cursor: pointer;
  /* width: 60px;
  height: 34px; */
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: background-color 0.4s;
}

.toggleSwitch .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

.toggleSwitch input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

.toggleSwitch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px); 
}

