
.teacher-details-container {
  margin-left: 466px;
  margin-top: 167px;
}

.teacher-details-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 66px;

}

.details {
  background-color: red;
  border: 5px solid black;
  border-radius: 15px;
  padding: 15px;
  max-width: 274px;
  max-height: 148px; 
   
}

.details p {
  margin: 5px 0;
}

.details p strong {
  font-weight: bold;
}
