.timetable{
    padding: 20px;
}
.timetable-heading{
    max-width: 800px;
    margin-left: 345px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35pxs;
    font: bold;
    text-decoration: underline;
}
h1{
    font-size: 30px;
    color:#146a51;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
  }
  .table {    
    margin-left: 310px;
    width:60%;
    height: 400px;
    table-layout: fixed;
    border: 1px solid black;
    text-align: center;   
    background-color: hsl(107, 17%, 78%);
}
td {
	text-align: center;
	border: 1px solid black;
    background-color: hsl(107, 17%, 78%);
}
#sub {
	font-family: sans-serif;
	font-weight: 400;
    background-color: hsl(107, 17%, 78%);
}

