#timetable{
   
    padding: 30px 30px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
#timetable-heading{
    max-width: 800px;
    margin-left: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font: bold;
    text-decoration: underline;
}
h1{
    font-size: 30px;
    color:#146a51;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
  }
  #table {    
    margin-left: 300px;
    width:60%;
    height: 300px;
    table-layout: fixed;
    border: none;
    outline: none;
    border: 1px solid black;
    text-align: center;   
    background-color: hsl(107, 17%, 78%);
}
td {
	text-align: center;
  border: none;
  outline: none;
	border: 1px solid black;
  background-color: hsl(107, 17%, 78%);
}
th{
  width: 105px;
  height: 30px;
  background-color: #146a51;
}
#row{
  font-family: sans-serif;
  width: 105px;
  height: 35px;
	font-weight: 400;
  background-color: hsl(107, 17%, 78%);
}
#sub {
	font-family: sans-serif;
  width: 105px;
  height: 35px;
	font-weight: 400;
  border: none;
  outline: none;
  background-color: hsl(107, 17%, 78%);
}

/* Standard dropdown */
#formtable {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  #formtable p{
    margin-left: 70px;
  }
  #labelofform {
    display: block;
    margin-bottom: 5px;
    margin-top: 8px;
    margin-left: 310px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
    #inputforms {
    width: 250px;
    margin-left: 310px;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: none;
    outline: none;
    border: 2px solid rgba(0,0,0);
    border-radius: 5px;
  }
#btn{
  /* width: 80px;
  margin-left: 430px; */
  width: 10%;
  height: 40px;
  border-radius: 10px;
  outline: auto;
  border: 1px;
  background:#146a51;;
  justify-content: center;
  text-align: center;
  margin-left: 460px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}


